@use '../abstracts/variables' as v;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-md;
  line-height: v.$line-height-base;
  color: v.$color-text;
  background-color: v.$color-background-alt;
}

:focus-visible {
  outline: 2px solid v.$color-primary;
  outline-offset: 2px;
}
