@use '../../../../shared/styles/abstracts/variables' as v;
@use '../../../../shared/styles/abstracts/mixins' as m;

.actions {
  @include m.flex(column, stretch, flex-start, v.$spacing-md);
  margin-top: v.$spacing-lg;
  padding-top: v.$spacing-lg;
  border-top: 1px solid v.$color-border;
}

.feedback {
  color: v.$color-success;
  font-weight: v.$font-weight-medium;
}

.feedbackError {
  color: v.$color-error;
  font-weight: v.$font-weight-medium;
}
