@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.container {
  max-width: v.$container-max-width;
  margin-inline: auto;
  padding-inline: v.$spacing-md;

  @include m.respond-to(tablet) {
    padding-inline: v.$spacing-xl;
  }
}
