@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.wrapper {
  width: 100%;
}

.input {
  width: 100%;
  height: v.$spacing-xxl;
  padding-inline: v.$spacing-md;
  border: 1px solid v.$color-border;
  border-radius: v.$radius-md;
  background-color: v.$color-background;

  @include m.hover-focus {
    border-color: v.$color-primary;
  }
}
