@use '../../styles/abstracts/variables' as v;
@use '../../styles/abstracts/mixins' as m;

.breadcrumb {
  font-size: v.$font-size-sm;
  color: v.$color-text-muted;
  min-width: 0;
}

.list {
  @include m.flex(row, center, flex-start, v.$spacing-xxs);
  flex-wrap: wrap;
}

.item {
  @include m.flex(row, center, flex-start, v.$spacing-xxs);

  a {
    @include m.hover-focus {
      color: v.$color-primary;
      text-decoration: underline;
    }
  }
}

.separator {
  color: v.$color-border;
}
